@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.App {
  text-align: center;
}

#name {
  text-align: left;
  font-family: 'Concert One', cursive;
  font-size: 40px;
}

.header {
  padding: 10px;
  text-align: center;
  background: rgb(223, 59, 18);
  color: white;
  font-size: 10px;
}

.navigation {
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.item {
  margin-right: 40px;
  font-family: sans-serif;
  font-size: medium;
  color: white;
  text-decoration: none;
}

.title {
  font-family: 'Concert One', cursive;
  font-size: 30px;
}

.text {
  font-family: 'Roboto', sans-serif;
}

.project-title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
}

.project-category {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.container {
  border: 2px solid black;
  border-radius: 10px;
  height: 220px;
  width: 300px;
  padding: 5px;
}

.flexbox {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.flexbox > .flexchild {
  margin: 5px;
}

li {
  font-family: 'Roboto', sans-serif;
}




